:root {
  --family-font: 'Montserrat', sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: linear-gradient( to right bottom, #D1E4DE 30%, #A3EAE4 60%);
  height: 100vh;
}
.container__main {
  display: grid;
  grid-template-columns: repeat(2, 4rem auto);
}
.container__main--information {
  display: grid;
}
.container__main--title {
  margin-inline-start: 1.5rem;
  margin-block-start: 4rem;
}
.container__main--title h1 {
  writing-mode: sideways-lr;
}
.main--information__links .links-github {
  width: 30px;
  height: 30px;
}