/*
From device-width=768px small tablets
*/
@media all and (max-width: 1023px) and (min-width: 768px) {
  .container__main {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    height: 100vh;
  }
  .container__main--title {
    display: flex;
    grid-row: 3 / 6;
    grid-column: 2 / 4;
    margin-inline-start: 0;
    margin-block-start: 0;
  }
  .container__main--title h1 {
    font-size: 3rem;
    writing-mode: vertical-rl;
  }
  .container__main--information {
    display: grid;
    grid-column: 4 / 9;
    grid-row: 3 / 5;
    grid-template: repeat(3, 100px) / repeat(3, 1fr);
    place-items: center;
  }
  .container__main--information h2 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    font-size: 3rem;
  }
  .container__main--information p {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    font-size: 2rem;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    padding-inline: 10px;
  }
  /*
  Social Media Links
  */
  .container__main--links {
    display: flex;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }
  .container__main--links .links-github img,
  .container__main--links .links-linkedin img,
  .container__main--links .links-twitter img {
    margin-inline: 1rem;
    height: 50px;
    width: 50px;
  }
  .hoover-link img:hover {
    width: 60px;
    height: 60px;
  }
  /*
  Projects
  */
  .container__projects--batabit {
    display: flex;
    grid-column: 2 / 5;
    grid-row: 7 / 10;
    margin-block-start: 0;
    place-items: center;
    place-content: center;
  }
  .container__projects--batabit img {
    border-radius: 10px;
    height: auto;
    width: 200px;
  }
  .container__projects--blogs {
    display: flex;
    grid-column: 7 / 10;
    grid-row: 7 / 10;
    margin-block-start: 0;
    place-items: center;
    place-content: center;
  }
  .container__projects--blogs img {
    height: 325px;
    border-radius: 10px;
    width: 200px;
  }
  .container__projects--different {
    display: flex;
    grid-column: 5 / 7;
    grid-row: 7 / 10;
    margin-block-start: 0;
    place-items: center;
    place-content: center;
  }
  .container__projects--different img {
    height: 160px;
    border-radius: 50%;
    width: 160px;
  }
}
/*
From Device-width=1024px for big tablets
*/
@media all and (max-width: 1280px) and (min-width: 1024px) {
  .container__main {
    display: grid;
    grid-template: repeat(15, 1fr) / repeat(15, 1fr);
    height: 100vh;
  }
  .container__main--title {
    display: flex;
    grid-row: 3 / 7;
    grid-column: 3 / 5;
    margin-inline-start: 0;
    margin-block-start: 0;
  }
  .container__main--title h1 {
    font-size: 4rem;
  }
  .container__main--information {
    display: grid;
    grid-column: 6 / 13;
    grid-row: 3 / 5;
    grid-template: repeat(3, 100px) / repeat(3, 1fr);
    place-items: center;
  }
  .container__main--information h2 {
    font-size: 3rem;
  }
  .container__main--information p {
    font-size: 3rem;
    line-height: 30px;
  }
  /*
  Projects
  */
  .container__projects--batabit {
    display: flex;
    grid-column: 4 / 7;
    grid-row: 10 / 14;
    margin-block-start: 0;
    place-items: center;
    place-content: center;
  }
  .container__projects--batabit img {
    border-radius: 10px;
    height: auto;
    width: 240px;
  }
  .container__projects--blogs {
    display: flex;
    grid-column: 8 / 11;
    grid-row: 10 / 14;
    margin-block-start: 0;
    margin-inline-end: 20px;
    place-items: center;
    place-content: center;
  }
  .container__projects--blogs img {
    border-radius: 10px;
    height: 325px;
    width: 200px;
  }
  .container__projects--different {
    display: flex;
    grid-column: 11 / 14;
    grid-row: 10 / 14;
    margin-block-start: 0;
    place-items: center;
    place-content: center;
  }
  .container__projects--different img {
    border-radius: 50%;
    height: 170px;
    width: 170px;
  }
}
