@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  /* para que no haya scroll, quede fijo*/
  /* position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
}
.home-body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 2rem;
}
a {
  text-decoration: none;
  display: inline;
  color: black;
}
.grid-container {
  max-width: 98rem;
  margin: auto;
}

header {
  width: 100%;
  height: 14rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
header .header-icons-container {
  width: 100%;
  height: 5rem;
  display: grid;
  background-color: #47cfac;
}
header .header-icons-container .icons {
  width: 30rem;
  height: auto;
  display: flex;
  /* justify-items: flex-end; */
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 5rem;
}
header .icons span::before {
  /* iconos como fuentes */
  color: white;
  font-size: 3rem;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 9rem;
  font-size: 1.6rem;
}
nav .nav-logo-container {
  margin-left: 5rem;
}
nav .nav-logo-container img {
  width: 22rem;
  margin-top: 1rem;
}
nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5rem;
}
nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
}
.home-main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100%;

  /* shorcut */
  /* height: calc(100vh - 140px) */
  /* background: url('../Assets/Imágenes/Cover.png') no-repeat center/cover; */

  background-image: url('../Assets/Imágenes/Cover.png');
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-main section {
  display: grid;
  grid-column: 2;
  justify-items: center;
  height: 35rem;
  margin-top: 8rem;
}
.home-main-text {
  /* shorthand */
  font: 700 3rem 'Roboto Mono', monospace;

  /* font-size: 4rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700; */
  letter-spacing: 1rem;
  color: white;
  text-align: center;
  text-shadow: 2px 1px 1px #1e1d1d;
}
.home-main-button {
  width: 11rem;
  height: 5rem;
  background: #47cfac;
  display: grid;
  align-items: center;
  box-shadow: 2px 2px 1px rgb(21, 20, 20);
  border-radius: 2px;
}
.home-main-button a {
  font-weight: 600;
  font-size: 1.6rem;
}

/* styles blogs.html */
.blogs-main {
  display: grid;
}
.blogs-news-container {
  background-color: #e6e9ed;
  padding: 0 5rem 4rem;
}
.blogs-main-news {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}
.blogs-news-img-container {
  grid-column: 1;
}
.blogs-news-img-container img {
  width: 80%;
}
.blogs-news-info-container {
  grid-column: 2;
}
.blogs-news-info-container  p {
  margin-bottom: 3.5rem;
  font-size: 1.7rem;
}
.blogs-button {
  border: 1px solid  #47cfac;
  padding: .7rem 2rem .7rem .7rem;
  font-size: 1.6rem;
}
.blogs-button:hover {
  color: white;
  background-color: #47cfac;
  box-shadow: 1px 1px rgb(48, 44, 44);
}
.blogs-posts-container {
  padding: 0 5rem 4rem;
}
.blogs-posts-container h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 2rem;
  text-align: center;
}
.blogs-posts-container .post-container {
  display: inline-block;
  padding-left: 1rem;
  margin-bottom: 5rem;
  max-width: 30%;
}
.blogs-posts-container .post-container p {
  margin-bottom: 3.5rem;
}
.blogs-posts-container .post-container img {
  width: 100%;
}
footer {
  width: 100%;
  height: 8rem;
  background-color: #22272d ;
  border-top: 3.5rem solid #47cfac;
  text-align: center;
}
footer p {
  color: white;
  margin-top: 3rem;
}

/* Styles blog.html */

.blogpost-img-container {
  padding: 0 5rem 4rem;
}
.blogpost-img-container img {
  width: 100%;
}
.blogpost-main-container {
  padding: 0 5rem 4rem;
}
.blogpost-main-container h3 {
  border-bottom: 1px solid #cdd2da;
  font-size: 2rem;
  padding: 1rem 0;
}
.blogpost-main-container article h1 {
  font-size: 3.5rem;
}
.blogpost-main-container article p {
  font-size: 1.8rem;
}
.contact-main-container {
  width: 100%;
  min-height: 25rem;
  background-color: #e6e9ed;
  text-align: center;
  padding-bottom: 5rem;
}
.contact-main-container div {
  display: inline-block;
  width: 49.5%;
  height: 100%;
}
.contact-main-container div a {
  border-bottom: 1px solid black;
  padding-bottom: .5rem;
}
.contact-main-container .contact-left, .contact-right {
  margin-top: 8.5rem;
}
.contact-main-container img {
  width: 10rem;
}

/* My way */
/* .contact-main-container {
  background-color: #e6e9ed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  height: 30rem;
}
.contact-main-container img {
  width: 15%;
}
.contact-main-container a {
  border-bottom: 1px solid #1e1d1d;
}
.contact-main-container:hover a {
  text-shadow: 0 1px 1px rgb(36, 33, 33);
}
.contact-main-container .contact-left, .contact-right {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: center;
}
.contact-right div, .contact-left div {
  padding: 0 1rem;
  width: 50%;
} */

/* styles profile.html */
.profile-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #e6e9ed;
  justify-items: center;
  align-items: center;
  height: 30rem;
}
.profile-info p {
  text-align: initial;
  font-size: 1.4rem;
}
.profile-main-container img {
  width: 80%;
}
.profile-project-container h2 {
  text-align: center;
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 2rem;
  padding-top: 3rem;
}
.profile-text div {
  display: inline-block;
  padding-left: 1rem;
  margin-bottom: 5rem;
  max-width: 30%;
}
.profile-text div p {
  font-size: 1.6rem;
}
